<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <%= image_tag post.image_url, class: "post-image" %>
      <p><%= link_to post.title, post, class: "post-title" %></p>
      <p><%= post.description %></p>
    </div>
  <% end %>
</div>

<%= link_to "New post", new_post_path, class: "new-post-link" %>
